*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "jinky";
    src: url("/fonts/JINKY.ttf");
}

@font-face {
    font-family: "からかぜ";
    src: url("/fonts/karakaze-M.ttf");
}
/* ローディング */
/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    background: #F2F2F2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
 
#loading_barWrap {
    width: 16vw;
    height: calc(1rem + 5px);
    position: fixed;
    top: -24px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
 
#loading_bar {
    width: 0;
    height: 3px;
    margin-top: 16px;
    background: #F2CB04;
    transition-duration: 1s;
}
 
.text {
    font-size: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #F2CB04;
}
 
.loadingNone {
    animation: loadingAnime 1s forwards;
}
 
@keyframes loadingAnime {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

/* body */

body{
    width: 100%;
    font-family: "jinky", "からかぜ";
    color: #F2CB04;
    background-color: #F2F2F2;
}

a{
    text-decoration: none;
    color: #F2CB04;
}

a :after{
    color: #F2CB04;
}

/*header*/
header{
    width: 880px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.header-left{
    font-size: 64px;
    letter-spacing: 8px;
    padding: 10px 0px 0px 12px;
}

.header-right{
    text-align: center;
}

.header-right p{
    font-size: 46px;
    font-weight: bold;
    /* margin-bottom: -4px; */
}

/*リストcss*/
.header-right li{
    /* background-color: aqua; */
    display: inline-block;
    letter-spacing: 6px;
    font-size: 20px;
    margin: -8px 12px 0px;
    padding: 0px 7px 0px 10px;
}

.header-right li a{
    text-decoration: none;
    color: #F2CB04;
}

.header-right li a :active{
    color: #F2CB04;
}

/*wrapper*/
.wrapper{
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper nav{
    /* background-color: aquamarine; */
    text-align: center;
    margin: 136px 0px 0px;
}

/*リスト*/
.wrapper li{
    /* background-color: aqua; */
    display: inline-block;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: 700;
    margin: -8px 24px 0px;
    padding: 0px 7px 0px 10px;
}

.wrapper li a{
    text-decoration: none;
    color: #F2CB04;
}

.wrapper li a :active{
    color: #F2CB04;
}


/* works */
.works{
    /* background-color: #fff; */
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.work-img{
    width: 300px;
}

.text-box{
    width: 500px;
    margin-left: 72px;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box h2{
    margin: 56px 0px 24px 0px;
    font-size: 26px;
}

.text-box p{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 24px;
}

.tx2{
    margin-left: 0;
    margin-right: 72px;
}

/* hr */

.work-border {
    border-top: 3px solid #F2CB04;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 770px;
    margin: 80px auto 44px;
  text-align: center;
  overflow: visible;
}

.work-border::after {
    content: "NEW";
    background: #F2F2F2;
    color: #F2CB04;
    font-size: 20px;
    font-weight: 700;
  display: inline-block;
  position: relative;
  top: -22px;
  padding: 0 40px;
}

.bd2{
    margin: 120px auto 44px;
}

.bd2::after{
    content: "WEBサイト";
}

.bd3{
    margin: 72px auto;
    border-top: none;
}

.bd3::after{
    content: none;
}

.bd4::after{
    content: "APP";
}

.bd5::after{
    content: "OTHERS";
}

.wrapper h3{
    text-align: center;
    margin: 128px auto 200px;
}


/* footer */

footer{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.title-contents p{
    font-size: 24px;
    margin-bottom: -2px;
    margin-left: 24px;
    letter-spacing: 8px;
}

.title-contents h1{
    font-size: 64px;
    letter-spacing: 2px;
}

/*リストcss*/
.title-contents li{
    display: inline-block;
    letter-spacing: 8px;
    font-size: 28px;
    padding: 0px 18px;
    margin-top: 16px;
}

.title-contents li a{
    text-decoration: none;
    color: #F2CB04;
}

.title-contents li a :active{
    color: #F2CB04;
}

.copy{
    font-size: 22px;
    margin: 94px auto 136px;
    letter-spacing:4px;
}

@media all and (max-width: 500px){

}